@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: #FFF498;
}

::-moz-selection {
  background: #FFF498;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #FFF498;
}

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus {
  color: #40a6ff;
}

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold;
}

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}

.large, h2 {
  font-size: 42px;
  line-height: 1.14;
}

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38;
}

.big, h4 {
  font-size: 22px;
  line-height: 1.38;
}

.small, small {
  font-size: 10px;
  line-height: 1.2;
}

p {
  margin: 0 0 20px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 34px;
  padding: 0 11px;
  color: #959595;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: .05px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 1px;
  border: 1px solid #959595;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover, .button:active, .button:focus,
button:hover,
button:active,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

/**********************************
	Floating Cart
***********************************/
#ysw-cart-pop-up {
  width: 310px;
  min-height: 176px;
  border: 1px solid black;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 5px 10px 10px 15px;
  box-shadow: 3px 3px 4px #cccccc;
  background-color: #ffffff;
  z-index: 9999;
}

#ysw-cart-frame-arrow {
  position: absolute;
  top: -11px;
  right: 30px;
}

#ysw-cart-pop-up #ysw-hide-cart {
  float: left;
  padding: 0 0 0 0;
}

#ysw-cart-pop-up #ysw-checkout1 {
  float: right;
  padding: 0 0 0 0;
}

#ysw-cart-pop-up #ysw-cart-product {
  float: left;
  padding: 20px 0 0 0;
}

#ysw-cart-pop-up #ysw-cart-desc {
  float: right;
  width: 180px;
  padding: 25px 0 0 20px;
  font-size: 0.8em;
  color: #000000;
  line-height: 1.2em;
}

#ysw-cart-pop-up #price {
  font-weight: bold;
  padding: 15px 0 0 0;
}

#ysw-cart-pop-up #qty {
  padding: 5px 0 0 0;
}

#ysw-cart-pop-up hr {
  margin: 0px;
  margin-top: 30px;
}

#ysw-cart-pop-up #ysw-cart-subtotal {
  color: #676767;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
}

#ysw-cart-pop-up #ysw-cart-subtotal span {
  float: right;
}

#ysw-cart-pop-up #ysw-cart-subtotal span {
  font-weight: normal;
}

#ysw-cart-pop-up #ysw-checkout2 {
  margin-top: -10px;
}

#ysw-cart-pop-up #ysw-checkout2 a {
  margin: 15px auto;
  border: 1px solid black;
  padding: 5px 15px;
  color: black;
  width: 100%;
  display: block;
  text-align: center;
}

#ysw-hide-cart, #ysw-checkout1 {
  display: none;
}

header {
  position: relative;
  height: 60px;
  margin-top: 10px;
}

@media screen and (max-width: 788px) {
  .content-container {
    max-width: 550px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*:focus {
  outline: 0;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
  width: 100%;
}

.clear:after, .content-container:after {
  display: block;
  clear: both;
  content: "";
}

body {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

p {
  padding-bottom: 20px;
  font-size: 15px;
}

.content-container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  position: relative;
}

header,
nav,
main,
section,
article,
aside,
footer {
  display: block;
}

#ys_cartPage .ys_info {
  margin-bottom: 25px;
}

#ys_cartPage #ys_cart a {
  color: black !important;
}

#ys_cartPage #ys_itemOptions {
  list-style-type: none;
}

#ys_cartPage .ys_cost {
  text-align: right;
  padding-top: 10px;
}

#ys_cartPage .ys_unitPrice input.text {
  text-align: center;
  width: 20px;
}

#ys_cartPage .ys_quantity input {
  text-align: center;
  width: 20px;
}

#ys_cartPage #ys_cart .ys_updateQty {
  border-bottom: 2px solid black;
  margin: 5px 0px;
  height: 60px;
}

#ys_cartPage #ys_cart > table > tbody > tr.ys_orderLine.ys_evenRow {
  display: none;
}

#ys_cartPage .ys_pageActions ul {
  list-style-type: none;
}

#ys_cartPage #ys_proceedContainer {
  text-align: right;
  margin-top: 30px;
  margin-right: -138px;
}

#ys_cartPage #ys_cart > table > tbody > tr.ys_orderLine.ys_lastRow.ysco_oddRow > td.ys_first {
  color: white;
}

#ys_cartPage #ys_cart > table > tbody > tr.ys_orderLine.ys_lastRow.ysco_oddRow {
  height: 70px;
  vertical-align: bottom;
}

#ys_cartPage #ys_cart > table > tbody > tr span.ys_itemImg > a > img {
  vertical-align: middle;
}

#ys_cartPage #ys_ofbMessage > div > h2 {
  display: none;
}

#ys_cartPage #ys_cart {
  font-size: 12px !important;
}

#ys_cartPage #ys_pageMessage {
  max-width: 273px;
  width: 100%;
  position: absolute;
  right: 10px;
  font-size: 12px;
  border-top: 2px solid black;
  top: 120px;
  padding-left: 25px;
}

#ys_cartPage #ys_pageMessage .rhs-item {
  text-transform: uppercase;
}

#ys_cartPage #ys_pageMessage .rhs-item a {
  display: block;
}

#ys_cartPage #ys_pageMessage h3 {
  margin-bottom: 10px;
  font-size: 12px;
  width: 100%;
  border-bottom: 1.5px solid black;
}

#ys_cartPage #ys_pageMessage p {
  font-size: 12px;
}

#ys_shippingPage #ys_shippingAddress {
  width: 45%;
  float: left;
}

#ys_shippingPage #ys_shippingOptions {
  float: left;
}

#ys_shippingPage #ys_cartInfo {
  clear: both;
}

#ys_proceedContainer {
  width: 100%;
}

#ys_pageBody, #ys_shipBillPage {
  max-width: 95%;
  margin: auto;
}

#yahoo-store-checkout #ys_buyerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
}

#yahoo-store-checkout #ys_shipBillShippingInfo {
  min-width: 319px;
}

#yahoo-store-checkout #ys_shipBillShippingInfo, #yahoo-store-checkout #ys_shipBillBillingInfo, #yahoo-store-checkout #ys_shipBillOtherInfo {
  border: none;
  margin: 0px 10px;
  border: none;
  flex: 2 2;
}

#yahoo-store-checkout #ys_shipBillOtherInfo {
  width: 100%;
}

#yahoo-store-checkout h3, #yahoo-store-checkout h4, #yahoo-store-checkout p {
  text-transform: uppercase;
}

#yahoo-store-checkout h3 {
  font-size: 16px;
  margin-top: 20px;
}

#yahoo-store-checkout h4 {
  border-bottom: 2px solid black;
  font-size: 14px;
  margin-top: 10px;
}

#yahoo-store-checkout fieldset {
  border: none;
  max-width: 100%;
  width: auto;
}

#yahoo-store-checkout label {
  display: block;
}

#yahoo-store-checkout hr {
  margin: 10px;
}

#yahoo-store-checkout .ys_basket {
  width: 100%;
}

#yahoo-store-checkout .ys_basket tr {
  margin: 8px 0px;
}

#yahoo-store-checkout #billing-email {
  width: 100%;
}

#yahoo-store-checkout #comments {
  width: 100%;
}

#ys_pageBody, #ys_yFooter {
  position: static;
  margin-left: 186px;
  max-width: 945px;
  width: calc(100% - 273px - 165px - 30px);
  margin-right: 10px;
}

#ys_yFooter {
  margin-top: 30px;
}

#ys_pageBody > form {
  border-top: 2px solid black;
}

@media screen and (max-width: 788px) {
  #ys_shipBillPage input, #ys_shipBillPage fieldset {
    max-width: 90% !important;
    width: 90% !important;
  }
  #ys_shipBillPage #ys_pageBody {
    margin: auto !important;
  }
  #ys_pageBody, #ys_yFooter {
    margin: 0px 10px;
  }
  #ys_pageBody {
    width: calc(100% - 276px);
  }
  #ys_cartPage #ys_pageMessage {
    top: 129px;
  }
}

@media screen and (max-width: 600px) {
  #ys_pageMessage {
    display: none !important;
  }
  #ys_pageBody {
    width: 95% !important;
  }
  #ys_buyerInfo {
    flex-direction: column;
    justify-content: center;
  }
  #ys_pageBody {
    margin: auto !important;
  }
}
